<div style="text-align: center;">
    <h1>about works!</h1>

    <input type="radio" name="rad" checked (click)="onchange(true)">Male
    <input type="radio" name="rad" (click)="onchange(false)">Female

    @if(isvalid){
        <div>I am Male</div>
    }
    @if(!isvalid){
        <div>I am Female</div>
    }
    <br>
    @if(num1 > num2){
        <div>num1 is greater than num2</div>
    }@else if(num1 < num2){
        <div>num1 is less than or equal to num2</div>
    }@else{
        <div>num1 is equal to num2</div>
    }
    <br>

    enter your name: <input type="text" 
  #txtname (keyup)="0"><br>

  @switch(txtname.value){
    @case('shilpa'){
      hello shilpa
    }
    @case('shobhit'){
      hello shobhit
    }
    @case('sunny'){
      hello sunny
    }
    @default{
      no data matched
    }
  }
  <br>

  @for(emp of employees;track emp.id; 
  let i = $index, e=$even, o=$odd, 
  f=$first, l=$last, c = $count){
    <ul>
      <li>
        {{c}} - {{f}} - {{l}} - {{e}} - {{o}} - {{i+1}}
        - {{emp.id}} - {{emp.name}}</li>
    </ul>
  }@empty{
    no data found!
  }

  <br>
  <button>Add</button>
  <button>Sub</button>
  <br><br>

  Parent componenet : 
  <input type="text" #Pcomponent (keyup)="0"
  [value]="cdata">

  <app-employee [Pdata]="Pcomponent.value"
  (childevent)="getdata($event)">
  </app-employee>

    
</div>
